#feedback_nib
  #feedback_nib_rel
    %h1
      %a{:href => '#', :class => "fontme"} Feedback
    #feedback_slider
      %p Thanks for your Feedback!
      - form_tag feedbacks_path, :id => 'feedback_form', 'data-remote' => true do
        = text_area_tag :message
        = submit_tag :Submit

